* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Tahoma;
    direction: rtl;
    position: relative;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input {
    font-family: Tahoma;
}

section {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
section:nth-child(1){ background-color: #aad1ff;} 
section:nth-child(2){background-color: #1ed6c9;} 
section:nth-child(3){background-color: #14b444;} 

.nav {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #ccc;
    transition: .4s;
}
.nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.nav ul li a {
    padding: 10px 25px;
}
.nav.active {
    position: fixed;
    height: 40px;
    background-color: #fff;
    box-shadow: 0px -6px 10px 4px black;
    transform: scale(1.1);
}